<div class="container text-white">
  <div class="dispatch" [ngSwitch]="currentView">
    <ng-container *ngSwitchCase="STATUS_VIEW.params">
      <ng-template [ngTemplateOutlet]="params"></ng-template>
    </ng-container>
    <ng-container *ngSwitchCase="STATUS_VIEW.main">
      <ng-template [ngTemplateOutlet]="main"></ng-template>
    </ng-container>
    <ng-container *ngSwitchCase="STATUS_VIEW.preCheck">
      <ng-template [ngTemplateOutlet]="preChecklist"></ng-template>
    </ng-container>
  </div>
  <ng-template [ngTemplateOutlet]="menuActions"></ng-template>
  <ng-template [ngTemplateOutlet]="menuEstado"></ng-template>
  <ng-template [ngTemplateOutlet]="menuOptions"></ng-template>
</div>

<ng-template #params>
  <div class="flex flex-col justify-center align-center h-full">
    <form class="flex flex-col justify-center" [formGroup]="paramsForm" (ngSubmit)="iniciar($event)">
      <h2>Parametros del camión</h2>
      <label>
        <input type="checkbox" formControlName="cargado">
        Camión cargado
      </label>
      <label>
        <input type="checkbox" formControlName="combustibleLLeno">
        Camión con combustible
      </label>
      <label class="pt-5">Ciclos al comedor</label>
      <input type="number" placeholder="Ciclos al comedor" formControlName="ciclosComedor">
      <label>Ciclos a la isla</label>
      <input type="number" placeholder="Ciclos a la isla" formControlName="ciclosIsla">
      <input type="submit" value="Iniciar">
    </form>
  </div>
</ng-template>

<ng-template #main>
  <div class="flex flex-row w-full h-20p">
    <div class="flex flex-col align-center justify-center flex-1 shadow py-10" (click)="selectOption('actions')">
      <span class="material-symbols-outlined">filter_hdr</span>
      <span class="text-center font-bold">Acciones</span>
    </div>
    <div class="flex flex-col align-center justify-center flex-1 shadow py-10" (click)="selectOption('estado')">
      <span class="material-symbols-outlined text-green">check_circle</span>
      <span class="text-center font-bold">Estado</span>
    </div>
    <div class="flex flex-col align-center justify-center flex-1 shadow py-10" (click)="selectOption('options')">
      <span class="material-symbols-outlined">manufacturing</span>
      <span class="text-center font-bold">Opciones</span>
    </div>
  </div>
  <div class="flex flex-row h-60p w-full">
    <div class="flex flex-col shadow flex-2">
      <span class="h-90p shadow px-2">mensaje</span>
      <span class="h-10p flex align-center px-2">{{cicloActual.areaAsignacion}}</span>
    </div>
    <div class="flex flex-col shadow flex-1 align-center">
      <div class="h-90p px-2 flex justify-center align-center">
        <span class="button-img" (click)="cambiarCiclo(cicloActual.siguiente)"></span>
      </div>
      <span class="h-10p flex align-center px-2">Siguiente: {{cicloActual.areaSecuencia}}</span>
    </div>
  </div>
  <div class="flex flex-row h-6p w-full">
    <div class="shadow flex-2 flex align-center">
      <span class="px-2">código</span>
    </div>
    <div class="shadow flex-1"></div>
  </div>
  <div class="flex flex-row h-14p w-full bg-black">
  </div>
</ng-template>

<ng-template #menuActions>
  <div class="menu flex flex-col w-75p h-80p" [class.hidden]="menuOptionSelected !== 'actions'">
    <div class="flex h-full justify-center align-center">
      <span class="w-full h-full item bg-primary">Iniciar sesión</span>
      <span class="w-full h-full item bg-primary">Cargar</span>
      <span class="w-full h-full item bg-primary" (click)="currentView=STATUS_VIEW.preCheck; menuOptionSelected=''">Pre-Start Checklist</span>
    </div>
    <div class="flex h-full justify-center align-center">
      <span class="w-full h-full item bg-primary">Cerrar sesión</span>
      <span class="w-full h-full item bg-primary">Combustible</span>
      <span class="w-full h-full item bg-primary text-green">SI</span>
    </div>
    <div class="flex h-full justify-center align-center">
      <span class="w-full h-full item bg-primary">Informe de chequeo de inicio</span>
      <span class="w-full h-full item bg-primary">Horas de uso del motor</span>
      <span class="w-full h-full item bg-primary text-red">NO</span>
    </div>
    <div class="flex h-full justify-center align-center">
      <span class="w-full h-full item bg-primary">Llegar</span>
      <span class="w-full h-full item bg-primary">Lleno</span>
      <span class="w-full h-full item bg-primary" (click)="menuOptionSelected = ''">Salir menú</span>
    </div>
  </div>
</ng-template>

<ng-template #menuEstado>
  <div class="menu flex flex-col w-75p h-40p" [class.hidden]="menuOptionSelected !== 'estado'">
    <div class="flex h-full justify-center align-center">
      <span class="w-full h-full item bg-green">Operación</span>
      <span class="w-full h-full item bg-yellow text-gray">Demora</span>
      <span class="w-full h-full item bg-primary">Actualizar</span>
    </div>
    <div class="flex h-full justify-center align-center">
      <span class="w-full h-full item bg-red">Caido</span>
      <span class="w-full h-full item bg-white text-gray">Standby</span>
      <span class="w-full h-full item bg-primary" (click)="menuOptionSelected = ''">Salir menú</span>
    </div>
  </div>
</ng-template>

<ng-template #menuOptions>
  <div class="menu flex flex-col w-50p h-80p" [class.hidden]="menuOptionSelected !== 'options'">
    <div class="flex h-full justify-center align-center">
      <span class="w-full h-full item bg-primary">Colores</span>
      <span class="w-full h-full item bg-primary">Recordar comando</span>
    </div>
    <div class="flex h-full justify-center align-center">
      <span class="w-full h-full item bg-primary">Enviar mensaje</span>
      <span class="w-full h-full item bg-primary">Actualizar pantalla</span>
    </div>
    <div class="flex h-full justify-center align-center">
      <span class="w-full h-full item bg-primary">Bloqueo de pantalla</span>
      <span class="w-full h-full item bg-primary" (click)="menuOptionSelected = ''">Salir del menú</span>
    </div>
    <div class="flex h-full align-center">
      <span class="w-50p h-full item bg-primary">Borrar pantalla</span>
    </div>
  </div>
</ng-template>

<ng-template #preChecklist>
  <div class="flex flex-col justify-center align-center h-full w-full">
    <div class="h-10p flex w-full">
      <span class="w-80p justify-center shadow flex align-center">Pre-Start Checklist</span>
      <span class="w-20p justify-center shadow flex align-center">Página 1/5</span>
    </div>
    <div class="h-10p flex w-full">
      <span class="w-80p justify-center shadow flex align-center">Comentario general</span>
      <span class="w-20p justify-center shadow flex align-center">Aprobar todos</span>
    </div>
    <div class="h-65p flex justify-center w-full">
      <div class="flex flex-col justify-center align-center w-full">
        <div class="p-3 flex w-full shadow">
          <span class="justify-center shadow flex align-center py-5 w-75p bg-green-light"></span>
          <span class="justify-center shadow flex align-center py-5 text-center">Ingresar comentario</span>
        </div>
        <div class="p-3 flex w-full shadow">
          <span class="justify-center shadow flex align-center py-5 w-75p bg-green-light"></span>
          <span class="justify-center shadow flex align-center py-5 text-center">Ingresar comentario</span>
        </div>
        <div class="p-3 flex w-full shadow">
          <span class="justify-center shadow flex align-center py-5 w-75p bg-green-light"></span>
          <span class="justify-center shadow flex align-center py-5 text-center">Ingresar comentario</span>
        </div>
        <div class="p-3 flex w-full shadow">
          <span class="justify-center shadow flex align-center py-5 w-75p bg-red"></span>
          <span class="justify-center shadow flex align-center py-5 text-center">Ingresar comentario</span>
        </div>
      </div>
      <div class="flex flex-col justify-center align-center w-full">
        <div class="p-3 flex w-full shadow">
          <span class="justify-center shadow flex align-center py-5 w-75p bg-red"></span>
          <span class="justify-center shadow flex align-center py-5 text-center">Ingresar comentario</span>
        </div>
        <div class="p-3 flex w-full shadow">
          <span class="justify-center shadow flex align-center py-5 w-75p bg-green-light"></span>
          <span class="justify-center shadow flex align-center py-5 text-center">Ingresar comentario</span>
        </div>
        <div class="p-3 flex w-full shadow">
          <span class="justify-center shadow flex align-center py-5 w-75p bg-green-light"></span>
          <span class="justify-center shadow flex align-center py-5 text-center">Ingresar comentario</span>
        </div>
        <div class="p-3 flex w-full shadow">
          <span class="justify-center shadow flex align-center py-5 w-75p bg-green-light"></span>
          <span class="justify-center shadow flex align-center py-5 text-center">Ingresar comentario</span>
        </div>
      </div>
    </div>
    <div class="h-15p flex align-center justify-center w-full">
      <span class="w-25p justify-center shadow flex align-center py-10">Página anterior</span>
      <span class="w-25p justify-center shadow flex align-center py-10" (click)="currentView=STATUS_VIEW.main">Aceptar</span>
      <span class="w-25p justify-center shadow flex align-center py-10" (click)="currentView=STATUS_VIEW.main">Cancelar</span>
      <span class="w-25p justify-center shadow flex align-center py-10">Página siguiente</span>
    </div>
  </div>
</ng-template>
